body
    background-color: #ECF1FA
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    color: black
    margin: 0
    display: grid
    grid-template-columns: 10% 90%

.sidebar
    grid-column: 1/2
    background-color: #0049C6
    min-height: 100vh
    a
        text-decoration: none
        color: white
        padding: 10px
        align-self: center
    a:hover
        background: white
        color: black
        border-radius: 20px
        font-size: 110%
    #mp
        position: fixed
        top: 100px
    #pr
        position: fixed
        top: 170px
    #am
        position: fixed
        top: 240px

#cornerpic
    position: fixed
    top: 0
    width: 10%

.header
    display: flex
    align-items: center
    height: 90px
    background: #0049C6
    grid-column: 2/3
    color: white
    font-family: profont
    font-size: 24px
    letter-spacing: 15px
    padding-left: 4em

.maintab
    margin: 7%

.intro
    margin-left: 30px
    height: auto

.introheader
    display: flex
    justify-content: space-between
    margin-top: 0
    h1
        font-family: Monaco
        font-size: 40px
        letter-spacing: 2px
        align-self: flex-end
    img
        height: 200px
        width: auto
        border-radius: 50%


.images
    display: flex
    justify-content: center
    align-items: flex-end
    flex-grow: 1
    img
        width: 75px
        height: 75px
        margin: 20px
        #cucumber
            width: 250px

.projects
    display: flex
    flex-grow: 1
    flex-wrap: wrap
    justify-content: space-between
    margin-left: 4em
    margin-top: 4em

.projectcard
    display: flex
    flex-direction: column
    background-color: #1259D7
    color: white
    width: 40%
    height: auto
    margin: 1%
    margin-bottom: 4em
    border-radius: 30px
    border-left: 5px solid darkblue

.projectcard:hover
    background-color: #034CC5
    .content
        font-size: 105%
        opacity: 1
    #linklogo
        height: 50px

.head
    display: flex
    font-size: 150%
    justify-content: space-between
    margin-left: 3%
    margin-bottom: 0px
    margin-up: 0px
    height: 100px
    span
        align-self: center
    img
        height: 100px
        width: auto

.lefthead
    display: flex
    flex-direction: column
    justify-content: space-around
.tech
    img
        height: 30px
        width: auto

.links
    display: flex
    margin-top: 0px

#linklogo
    width: auto
    height: 0px
    margin: 10px
    transition: height 0.2s
    transition: 0.5s
#linklogo:hover
    background: white
    border-radius: 20px
    cursor: pointer

.content
    display: flex
    margin: 10px
    padding: 10px
    border-radius: 20px
    height: auto
    font-size: 0px
    opacity: 0.6
    transition: font-size 0.3s

