.images{
    display: flex;
    justify-content: center;
    img{
    width: 75px;
    height: 75px;
    margin: 20px;
    }
    #cucumber{
        width: 250px;
    }
}

.linklogos img{
    width:50px;
    height:50px;
    margin: 20px;
}

.projectimage{
    height: 100px;
    width: auto;
}
