.backgroundopacity
    content: ""
    display: block
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: 1
    z-index: -1
    


body
    background-color: #ECF1FA
    font-family: sans-serif
    color: black
    margin: 0
    display: grid
    grid-template-columns: 10% 90%

.maintab
    position: relative

.maintab:after
    @extend .backgroundopacity
    background-image: url("coding.jpeg")

.sidebar
    grid-column: 1/2
    background-color: #0049C6
    min-height: 100vh
    a
        text-decoration: none
        color: white
        padding: 10px
        align-self: center
    a:hover
        background: white
        color: black
        border-radius: 20px
        font-size: 110%
    #mp
        position: fixed
        top: 15%
    #pr
        position: fixed
        top: 25%
    #am
        position: fixed
        top: 35%

#cornerpic
    position: fixed
    top: 0
    width: 10%

.header
    display: flex
    align-items: center
    height: 90px
    background: #0049C6
    grid-column: 2/3
    color: white
    font-family: profont
    font-size: 20px
    letter-spacing: 3px
    padding-left: 2%

.intro
    display: flex
    flex-direction: row-reverse

.introheader
    display: flex
    flex-direction: column
    align-items: center
    margin: 2%
    color: white
    border: 2px solid
    border-radius: 15px
    background-color: #0049C6
    width: 40%
    padding: 1%
    h1
        font-family: Monaco
        font-size: 40px
        letter-spacing: 2px
    img
        height: 200px
        width: auto
        border-radius: 50%
        border: 1px solid white
.introcontent
    display: flex



.mainform
    display: flex
    flex-direction: row-reverse
    margin: 2%

.contactform
    display: flex
    flex-direction: column
    width: 30%
    align-items: center
    border: 2px solid
    background-color: #0049C6
    color: white
    border-radius: 15px


.images
    display: flex
    justify-content: center
    align-items: flex-end
    flex-grow: 1
    img
        width: 50px
        height: auto
        margin: 20px
        #cucumber
            width: 250px

.projecttab
    position: relative
.projecttab:after
    background-image: url("coding2.jpg")
    opacity: 0.9
    background-size: cover
    @extend .backgroundopacity

.projects
    display: flex
    flex-grow: 1
    flex-wrap: wrap
    justify-content: space-between
    margin-left: 4em
    margin-top: 4em

.projectcard
    display: flex
    flex-direction: column
    background-color: #1259D7
    color: white
    width: 40%
    min-width: 30px
    height: auto
    margin: 1%
    margin-bottom: 4em
    margin-top: 0
    border-radius: 30px
    border-left: 5px solid darkblue

.projectcard:hover
    background-color: #034CC5
    .content
        font-size: 14px
    #linklogo
        height: 50px

.head
    display: flex
    font-size: 150%
    justify-content: space-between
    margin-left: 3%
    margin-bottom: 0px
    margin-up: 0px
    height: 80px
    span
        align-self: center
    img
        height: 100px
        width: auto

.lefthead
    display: flex
    flex-direction: column
    justify-content: space-around
    
.tech
    img
        height: 30px
        width: auto

.links
    display: flex
    margin-top: 0px

#linklogo
    width: auto
    height: 0px
    margin: 10px
    transition: height 0.2s
    transition: 0.5s
#linklogo:hover
    background: white
    border-radius: 20px
    cursor: pointer

.content
    display: flex
    margin: 10px
    padding: 10px
    border-radius: 20px
    height: auto
    font-size: 0px
    transition: font-size 0.3s

