body
    background-color: gray
    font-family: sans-serif
.images
    display: flex
    justify-content: center
    img
        width: 75px
        height: 75px
        margin: 20px
        #cucumber
            width: 250px
.projects
    display: flex
    flex-grow: 1
    flex-wrap: wrap
    margin-left: 6em
    margin-right: 6em

.projectcard
    background-color: green
    width: 45%
    margin: 1%
    border-radius: 30px
    border-left: 5px solid darkslategrey
    img
        width: 50px
        height: 50px
        margin: 20px

.links:hover
    background: white
    border-radius: 20px

.head
    display: flex
    font-size: 150%
    justify-content: space-between
    margin-left: 3%
    span
        align-self: center
    img
        height: 120px
        width: auto