.header
    %h1 PORTFOLIO
    .images
        - data.logos.each do |logo|
            %img.github(src="#{logo[:logo]}" alt="no image")/

%img#cornerpic(src="images/programming3.jpeg" alt="no image" srcset="")/
    
.sidebar
    %a#mp(href="index.html") Main page
    %a#pr(href="projects.html") Projects
    %a#am(href="about.html") About me
