= partial 'partials/header'
.aboutme
    .name
        %h1 Gregory Kallai
    .personaldata
        %p some personal data
    .workxp
        %p Some stuff here
    .studies
        %p About studies
    .skills
        %p About skills
