= partial 'partials/header'
.aboutme
    .name
        %h1 Gregory Kallai
    .personaldata
        %p some personal data
    .craftacademy
        %p About craft academy course
    .pg
        %p About PG
    .aiesec
        %p About AIESEC
    .studies
        %p About studies
    .skills
        %p About skills
