= partial 'partials/header'
.maintab

    .intro
        .introheader
            %h1 Hello World;
            %img(src="images/personal.jpeg" alt="no image")/
        %p I am Gregory Kallai Junior Software developer in the making and this is my Portfolio website
        %p 

    .images
        - data.logos.each do |logo|
            %img.github(src="#{logo[:logo]}" alt="no image")/

