= partial 'partials/header'
.maintab
    .intro
        .introheader
            %h1 Hello World;
            .introcontent
                .text
                    %p I am Gregory Kallai Junior Software developer in the making
                    %p This is my Portfolio website, please take a look around 
                    %p If you see something that you like do not hesitate to contact me with the form bellow:
                %img(src="images/personal.jpeg" alt="no image")/
    .mainform
        %form.contactform(name="contact" method="POST" netlify)
            %h2 Contact Me!
            %p
                %label(for="name") Your Name:
                %input(type="text" name="name" required)/
            %p
                %label(for="email") Your Email:
                %input(type="email" name="name" required)/
            %p
                %label(for="message") Your Message:
                %textarea(type="text" name="message" rows="4" required)
            %button(type="submit") Submit
        



    


