= partial 'partials/header'

%h1 Hello World

%p I am Gregory Kallai Junior Software developer

%p This is my personal portfolio website where you can check out what I have been working on

%p The main technologies I work with:

.images
    - data.logos.each do |logo|
        %img(src="#{logo[:logo]}" alt="no image")/


